@model BLitWebApp.Models.Vehicle

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Vehicle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VIN)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VIN)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CarModel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CarModel.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CarClass)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CarClass.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
